<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.cordova.lock" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lock</name>
    <description>
        A sample Apache Cordova application that unlocks a solenoid lock via Bluetooth.
    </description>
    <author email="don.coleman@gmail.com" href="https://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />    
    <preference name="UIWebViewBounce" value="false" />
    <preference name="orientation" value="portrait" />
</widget>
